@font-face {
	font-family: "Roboto";
	src: local(Roboto Thin), url("../common/roboto/Roboto-Thin.eot");
	src: url("../common/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../common/roboto/Roboto-Thin.woff2") format("woff2"), url("../common/roboto/Roboto-Thin.woff") format("woff"), url("../common/roboto/Roboto-Thin.ttf") format("truetype");
	font-weight: 200;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Light), url("../common/roboto/Roboto-Light.eot");
	src: url("../common/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../common/roboto/Roboto-Light.woff2") format("woff2"), url("../common/roboto/Roboto-Light.woff") format("woff"), url("../common/roboto/Roboto-Light.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Regular), url("../common/roboto/Roboto-Regular.eot");
	src: url("../common/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../common/roboto/Roboto-Regular.woff2") format("woff2"), url("../common/roboto/Roboto-Regular.woff") format("woff"), url("../common/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "Roboto";
	src: url("../common/roboto/Roboto-Medium.eot");
	src: url("../common/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../common/roboto/Roboto-Medium.woff2") format("woff2"), url("../common/roboto/Roboto-Medium.woff") format("woff"), url("../common/roboto/Roboto-Medium.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "Roboto";
	src: url("../common/roboto/Roboto-Bold.eot");
	src: url("../common/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../common/roboto/Roboto-Bold.woff2") format("woff2"), url("../common/roboto/Roboto-Bold.woff") format("woff"), url("../common/roboto/Roboto-Bold.ttf") format("truetype");
	font-weight: 700;
}

html {
	line-height: 1.5;
	font-family: "Roboto", sans-serif;
	font-weight: normal;
	color: rgba(0, 0, 0, 0.87);
}